<h1>List of Cards the user have</h1>
<div class="row">
  <% Card.all.each do |card| %>
    <div class="col-sm">
      <% if @collection.find_by(card_id: card.id, user_id: @user.id) %>
      <%= link_to image_tag(card.card_img, class:"image-jpg", data: {toggle:'tooltip', placement:'right'}, title:"You have #{@collection.find_by(card_id: card.id, user_id: @user.id).amount} card(s)" ), card %>
      <% end %>
    </div>
  <% end %>
</div>
