
<div class="styleguide-container show_stuff">
<h1 class="styleguide-title">Card Collection</h1>
<hr>
    <div class="theme-card-listing">

  <% Card.all.each do |card| %>

      <% if @collection.find_by(card_id: card.id, user_id: @user.id) %>
      <%= link_to image_tag(card.card_img, class:"image-jpg", data: {toggle:'tooltip', placement:'right'}, title:"You have #{@collection.find_by(card_id: card.id, user_id: @user.id).amount} copy of this cards" ), card %>
      <% else %>
      <%= link_to image_tag(card.card_img, class:"image-jpg tinted", data: {toggle:'tooltip', placement:'right'}, title:"You have no copy of this cards" ), card %>
      <% end %>
  <% end %>
</div>

</div>
