<div class="form_stuff">
<div>
<h1 class="title">
<%= render 'form' %>

<%= button_to "Delete", theme_set_path , {method: :delete, class: "mdl-button mdl-js-button mdl-button--raised warning-bg", data: {confirm: "Are you sure?"}} %>
</div>

</div>