<h1><%= @theme_set.name %></h1>
<h2>A <%= @theme_set.category %>-Set</h2>
<ul>
  <% @theme_set.cards.each do |card| %>
  <li><%= link_to card.name, card %></li>
  <% end %>
</ul>

<% if @user.id == 1%>
  <h3><%= link_to 'Edit', edit_theme_set_path(@theme_set) %></h3>
<% end %>
