<ul class="mdl-list">
  <li class="mdl-list__item">
    
    <span class="mdl-list__item-primary-content">Username: <%= @user.username %></span>
  </li>
  <li class="mdl-list__item">
    
    <span class="mdl-list__item-primary-content">name: <%= @user.to_s %></span>
  </li>
  <li class="mdl-list__item">
    
    <span class="mdl-list__item-primary-content">
    email: <%= @user.email %></span>
  </li>
</ul>
