<ul class="mdl-list">
  <li class="mdl-list__item">
    
    <span class="mdl-list__item-primary-content mdl-color-text--accent-contrast">Username: <%= @user.username %></span>
  </li>
  <li class="mdl-list__item">
    
    <span class="mdl-list__item-primary-content mdl-color-text--accent-contrast">name: <%= @user.to_s %></span>
  </li>
  <li class="mdl-list__item">
    
    <span class="mdl-list__item-primary-content mdl-color-text--accent-contrast">
    email: <%= @user.email %></span>
  </li>
</ul>
