<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    User Successfully created
  </div>
<% end %>
<% if @user.id == 1 %>
<div class="show_stuff"> 
  <h1 class="styleguide-title">Users List</h1>
  <hr>
  <ul class="mdl-list">
    <% @users.each do |user| %>
      <li class="mdl-list__item"><%= link_to user.username, user , class: "mdl-list__item-primary-content"%></li>
    <% end %>
  </ul>
</div>

<% else %>
  <p class="title">Sorry you don't have access to all users</p>
  <%= link_to @user.username, @user  %>
<% end %>