<div class="show_stuff">
  <h1 class="styleguide-title">User Info</h1>
  <hr>
  <%= button_to 'My Decks', decks_path, {method: :get, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"}  %>

  <div class="mdl-card__supporting-text ">
  <%= render 'user' %>
  </div>

<% if @user.id != 1%>
<div class="mdl-card__actions actions-horizontal">
  <%= button_to 'Edit User Info', edit_user_path, {method: :get, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"}%>
  <%= button_to 'Delete Account', user_path, {method: :delete, class:"warning-bg mdl-js-ripple-effect mdl-button"} %>
</div>
<% end %>
</div>
