
<div class="styleguide-container mdl-layout form_stuff">
  <h1 class="styleguide-title title">Cards Index</h1>
  <% counter = 0 %>
  <div class="row">
  <% @cards.each do |card| %>
    <!-- <h3><%= link_to card.name , card_path(card) %></h3> -->
    <% if counter == 4 %>
      </div><div class="row">
      <% counter = 0 %>
    <% end %>

    <div class="col-sm">
      <%= link_to image_tag(card.card_img, class:"image-jpg"), card %>
    </div>


    <% counter += 1 %>
  <% end %>
</div>

</div>
