
<div class="styleguide-container  mdl-layout show_stuff">
  <h1 class="styleguide-title title">Cards Index</h1>
  <hr>

  <div class="theme-card-listing">
  <% @cards.each do |card| %>
      <%= link_to image_tag(card.card_img, class:"image-jpg"), card %>
  <% end %>
  </div>

