/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import 'material.min.css';


*{
  margin: 0;
  padding: 0px;
  min-width: fit-content;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4 {
  margin: 6px;
  display: inline-block;
}

body {
  --accent-color: #4962FE;
  --main-color: #ccd7e4;
  --bg-color: #f9f9f9;
  --text-color: #2d4d4f;
  --dark-color: #313738;
  --error-text: #f4427a;
  padding-bottom: 5vh;
  background: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
}

div {
  margin: 0 auto;
}

div.form_stuff,
div.show_stuff {
  display: flex;
  flex-direction: column;
  width: 65vw;
  max-width: 65vw;
  margin-top: 7vh;
  padding: 15px;
  background: var(--main-color);
  color: var(--dark-color);
  box-shadow: #3a4142, 0 5px 5px 0px;

  *.styleguide-title {
    color: var (var(--dark-color));
  }
}

div.form_stuff {
  border-radius: 30px;
}

div.form_stuff button {
  right: 5%;
  float: right;
}

.white-text {
  color: white;
}
.warning-bg{
  background: var(--error-text);
  color: white;
}
.mdl-button {
  border-radius: 20px;
}
.mdl-layout-spacer {
  background: var(--main-color);
}

.form_stuff input,
.form_stuff select{
  margin-bottom: 5px;
  line-height: 10%;
}

.form_stuff label {
  color: var(--text-color);
  font-size: 1.3em;
}

.form_stuff h1, 
.form_stuff  h2, 
.form_stuff h3 {
  color: var(--accent-color);
}

div.vert-hold {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.mdl-card div{
  margin: 0px;
}
nav.nav_block {
  width: 100%;
  height: 7vh;
  background-color: black;
}

nav  {
  padding-top: .5em;
  display:block;
}

nav.nav_left {
  float: left;
  padding-left: 20px;
}

nav.nav_right {
  float: right;
  padding-right: 20px;
}

nav a {
  padding-left: 20px;
  color: var(--main-color);
  text-decoration-line: none;
}
nav a:hover {
  color: white;
}

a:hover {
  color: var(--dark-color);
}

nav div {
  width: 30px;
}

div#log-show {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.actions-horizontal {
  padding: 0;
  margin-top: 1.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mdl-card__title  a {
  position: absolute;
  right: 50px;
}

div#theme-sets {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: start;
  width: 100%;
}

*.theme-card-listing {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: start;
  width: 100%;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

div#deck-listing {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: start;
  width: 100%;
}
// Playing Card Stuff
div.card-container {
  width: fit-content;
}

.card-custom
{ margin-top: 5vh;
  .mdl-card {

  }
  border-radius: 20px;
  width: 300px;
  height: 450px;
  background: black;
  color: white;
  .card-title{
    color: white;
  }
  .card-hr {
    background: white;
  }
  .card-pic{
    border: 1px white solid;
    display: block;
    width: 275px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    .img {
      background-size: cover;
      background-position: center center;
      height: 175px;
    }
  }
  div.mdl-card__supporting-text {
    margin: 0 auto;
    margin-top: 3px;
    width: 275px;
    border: 1px white solid;

    p{
      color: white;
      overflow: hidden;
    }
  }
}

.card-buy {
  margin-top: 30px;
  float: right;
}
.image-jpg {
  min-width: 164px;
  width: 164px;
  height: 242px;

}

.tinted {
  -webkit-filter: grayscale(100%);
}
