<div id="deck-list" class="mdl-styleguide styleguide-container show_stuff">
<h1 class="styleguide-title">Deck List</h1>
<hr>
<% if logged_in?%>
<%= button_to 'CREATE A DECK', new_deck_path, {method: :get, class: "mdl-button mdl-button--accent mdl-button--raised"}%>
<% end %>


  <div id="deck-listing">

<ul class="mdl-list">
<% @decks.each do |deck| %>

  <li class="mdl-list__item"><%= link_to deck.name, deck %></li>
  
<% end %>
</ul>

</div>
</div>


