<div id="deck-list" class="mdl-styleguide styleguide-container form_stuff">
<h1 class="mdl-styleguide-title">Deck List</h1>
<a href="/decks/new"> 
<% if logged_in?%>
<button type="submit" class="mdl-button mdl-button--accent mdl-button--raised">Create New Deck </button></a>
<% end %>


  <div id="deck-listing">

<ul class="mdl-list">
<% @decks.each do |deck| %>

  <li class="mdl-list__item"><%= link_to deck.name, deck %></li>
  
<% end %>
</ul>

</div>
</div>
