<div class="show_stuff mdl-styleguide-container">
<h1 class="styleguide-title">Deck Info</h1>
<h2 class="styleguide-title"><%= @deck.name.upcase %></h2>

<% if logged_in? %>
<%= render 'log_show' %>
<% end %>

<h3>Deck cards:</h3>
<hr>
<ul class="mdl-list theme-card-listing">
<% @deck.cards.each do |card| %>
  <% if @deck.card_decks.find_copies(card.id, @deck.id) > 0 %>
  <li class="mdl-list__item">
    <div>
    <%= link_to image_tag(card.card_img, class:"image-jpg"), card %> <br><p><%= @deck.card_decks.find_copies(card.id, @deck.id) %> copies</p>
    </div>
  </li>
  <% end %>
  </ul>
<% end %>
</div>
</div>
