
  <nav class="">
    <a class="link_style" href="">Login</a>
    <a class="link_style" href="">Sign Up</a>
    <a class="link_style" href="">Logout</a>
    
  </nav>
  <div class="nav_block">
  </div>